{% extends 'base.twig' %}

{% set titleContext = 'About' %}

{% block content %}
  <main class="container">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="#">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="skills.twig">Skills</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="career.twig">Career</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="interests.twig">Interests</a>
      </li>
    </ul>
    <div class="card">
      <div class="card-header">
        <div class="btn-group float-right">
          <button type="button" class="btn btn-link" title="Add a new profile">
            <span class="fas fa-plus"></span>
          </button>
          <button type="button" class="btn btn-link" title="Edit this profile">
            <span class="far fa-edit"></span>
          </button>
          <button type="button" class="btn btn-link" title="Delete this profile">
            <span class="far fa-trash-alt"></span>
          </button>
        </div>
      </div>
      <div class="card-body">
        <form>
          <fieldset disabled>
            <div class="form-group">
              <label for="about">Description</label>
              <textarea class="form-control" id="about" rows="7">
I am a Full Stack Application Developer with over 20 years experience. I have a proven track record of delivering bespoke solutions to meet demanding customer needs and growing those solutions to keep up with a changing market. I enjoy collaborating with a diverse team to build and promote a good working environment geared at delivering high-quality solutions.

Select one of the tabs to find out more about me.</textarea>
            </div>
            <div class="row">
              <div class="form-group col-xl-6">
                <div class="row">
                  <label for="email" class="col-md-2 col-form-label">Email</label>
                  <div class="col-md-10">
                    <input type="text" class="form-control" id="email" value="john.chase3@outlook.com">
                  </div>
                </div>
              </div>
              <div class="form-group col-xl-6">
                <div class="row">
                  <label for="linkedin" class="col-md-2 col-form-label">LinkedIn</label>
                  <div class="col-md-10">
                    <input type="text" class="form-control" id="linkedin" value="https://www.linkedin.com/in/john-chase-57973b12/">
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-xl-6">
                <div class="row">
                  <label for="github" class="col-md-2 col-form-label">GitHub</label>
                  <div class="col-md-10">
                    <input type="text" class="form-control" id="github" value="https://github.com/RatJuggler">
                  </div>
                </div>
              </div>
              <div class="form-group col-xl-6">
                <div class="row">
                  <label for="twitter" class="col-md-2 col-form-label">Twitter</label>
                  <div class="col-md-10">
                    <input type="text" class="form-control" id="twitter" value="https://twitter.com/ratjuggler">
                  </div>
                </div>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </main>
{% endblock %}
