    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link{% if aspect == "profile" %} active{% endif %}" href="{% if aspect == "profile" %}#{% else %}/template/profile/{{ dataFrom }}{% endif %}">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link{% if aspect == "skills" %} active{% endif %}" href="{% if aspect == "skills" %}#{% else %}/template/skills/{{ dataFrom }}{% endif %}">Skills</a>
      </li>
      <li class="nav-item">
        <a class="nav-link{% if aspect == "career" %} active{% endif %}" href="{% if aspect == "career" %}#{% else %}/template/career/{{ dataFrom }}{% endif %}">Career</a>
      </li>
      <li class="nav-item">
        <a class="nav-link{% if aspect == "interests" %} active{% endif %}" href="{% if aspect == "interests" %}#{% else %}/template/interests/{{ dataFrom }}{% endif %}">Interests</a>
      </li>
    </ul>
