    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link{% if titleContext == "Profile" %} active{% endif %}" href="{% if titleContext == "Profile" %}#{% else %}/template/{{ dataFrom }}/profile{% endif %}">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link{% if titleContext == "Skills" %} active{% endif %}" href="{% if titleContext == "Skills" %}#{% else %}/template/{{ dataFrom }}/skills{% endif %}">Skills</a>
      </li>
      <li class="nav-item">
        <a class="nav-link{% if titleContext == "Career" %} active{% endif %}" href="{% if titleContext == "Career" %}#{% else %}/template/{{ dataFrom }}/career{% endif %}">Career</a>
      </li>
      <li class="nav-item">
        <a class="nav-link{% if titleContext == "Interests" %} active{% endif %}" href="{% if titleContext == "Interests" %}#{% else %}/template/{{ dataFrom }}/interests{% endif %}">Interests</a>
      </li>
    </ul>
