.bootstrap-table .fixed-table-toolbar .columns {
  margin-top: 0;
  margin-bottom: 0;
}
.bootstrap-table .fixed-table-container .table thead th .th-inner {
  padding: .25rem;
}
.bootstrap-table .table td {
  padding: .25rem;
}
