.bootstrap-table .fixed-table-toolbar .search {
  margin-top: 2.25rem;
}
.bootstrap-table .fixed-table-container .table thead th .th-inner {
  padding: .25rem;
}
.bootstrap-table .table td {
  padding: .25rem;
}
