.vertical .carousel-control-prev {
  left: auto;
  right: 0;
  align-items: flex-start;
}

.vertical .carousel-control-next {
  align-items: flex-end;
}

.vertical .carousel-item-next.carousel-item-left,
.vertical .carousel-item-prev.carousel-item-right {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.vertical .carousel-item-next,
.vertical .active.carousel-item-right {
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}

.vertical .carousel-item-prev,
.vertical .active.carousel-item-left {
  -webkit-transform: translate3d(0,-100%, 0);
  transform: translate3d(0,-100%, 0);
}
